In [21]:
import pandas as pd

In [22]:
data = pd.read_csv('bow_representation_with_vectors.csv')

In [23]:
data.shape

(200, 2433)

In [24]:
data.shape

(200, 2433)

In [25]:
data.tail()

,Dokumen,a,aahpic,aan,abang,abdillahtohastatusvideoquotceramah,abdul,abfeebbgoblok,abg,abis,...,yuk,yukk,z,zaman,zap,zionist,zul,zuljumadi,zz,Vectors
0,Dokumen 1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(0, 181) 1 (0, 780) 1 (0, 1098) 2 (0, 891) 1 (..."
1,Dokumen 2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(1, 1098) 2 (1, 1305) 3 (1, 690) 3 (1, 1334) 1..."
2,Dokumen 3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2, 1902) 1 (2, 1936) 1 (2, 1082) 1 (2, 1219) ..."
3,Dokumen 4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(3, 833) 1 (3, 145) 1 (3, 1147) 1 (3, 167) 1 (..."
4,Dokumen 5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(4, 2106) 1 (4, 2128) 1 (4, 1536) 1 (4, 25) 3 ..."